# GENERATED — do not edit, and do not commit. Run `rake openapi:bundle`.
#
# Self-contained bundle of openapi/v3/openapi.yaml and everything it
# references. The split sources under openapi/v3/ are the thing you edit.
---
openapi: 3.1.0
info:
  title: Honeybadger API
  description: |
    The Honeybadger API v3 provides programmatic access to your Honeybadger data.

    ## Authentication

    Every request authenticates with a Bearer token:

    ```
    Authorization: Bearer YOUR_API_TOKEN
    ```

    Bearer is the only accepted scheme. Two things that work on v2 are refused
    here, each with its own error code so the cause is unambiguous:

    - HTTP basic — the token as the username with a blank password, which is what
      `curl -u` sends — answers `401 unsupported_auth_scheme`.
    - A credential in the `auth_token` query parameter answers
      `401 credential_in_query`, even when the credential is valid: a secret in a
      URL leaks through access logs, proxies, Referer headers and anything a
      person copy-pastes.

    You can find your API token in your Honeybadger user settings.

    ## Request bodies

    Send the resource's fields at the top level of the body. There is no root
    element:

    ```json
    {"name": "Billing API", "language": "ruby"}
    ```

    v1 and v2 wrapped bodies under the resource name (`{"project": {...}}`).
    v3 does not, anywhere.

    ## Rate Limiting

    API requests are rate limited to 360 requests per hour per user. Rate limit information
    is returned in response headers:

    - `X-RateLimit-Limit`: Maximum requests per hour
    - `X-RateLimit-Remaining`: Remaining requests in current window
    - `X-RateLimit-Reset`: Unix timestamp when the limit resets

    ## Pagination

    ### Offset-based Pagination

    Most list endpoints use offset-based pagination with the following parameters:
    - `page`: Page number (default: 1)
    - `per_page`: Items per page (default: 25, max: 100)

    ### Time-series Pagination

    Time-ordered collections (notices, comments, deploys, outages, uptime checks,
    check-in events, incidents) are not paged by number, because new items arrive
    at one end while you read. They return `limit`, `has_older` and `has_newer`.

    **Follow the links.** `links.older` and `links.newer` are the mechanism that
    works on every one of these collections, and a client that follows them needs
    to know nothing else. Both are null when there is nothing further in that
    direction.

    Five of these collections also return `oldest_cursor` and `newest_cursor`,
    opaque tokens you can pass back as `before` and `after`. Use them when a
    client needs to persist its position without storing a whole URL.

    The other three — outages, uptime checks and check-in events — are paged on a
    timestamp window instead, with `created_after` and `created_before`, and
    return no cursor fields. Uptime checks have no primary key to tie-break on;
    outages keep the v2 API's window parameters so a client can move between
    versions unchanged. Treat the cursors as an optimisation, not the contract.

    A few collections are one-directional and say so in their description: they
    always report `has_newer: false` with a null `links.newer`.

    ## Response Format

    All responses follow a consistent envelope structure:

    ```json
    {
      "data": { ... },
      "meta": { "request_id": "..." }
    }
    ```

    For collections:

    ```json
    {
      "data": [ ... ],
      "pagination": { ... },
      "links": { ... },
      "meta": { "request_id": "..." }
    }
    ```
  version: 3.0.0
  contact:
    name: Honeybadger Support
    email: support@honeybadger.io
    url: https://www.honeybadger.io
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://app.honeybadger.io/v3
  description: Production API
security:
- bearer_auth: []
tags:
- name: Accounts
  description: Account management
- name: Projects
  description: Project management
- name: Faults
  description: Error/exception management
- name: Notices
  description: Individual error occurrences
- name: Sites
  description: Uptime monitoring
- name: Check-ins
  description: Cron/heartbeat monitoring
- name: Teams
  description: Team management
- name: Status Pages
  description: Public status page management
- name: Alarms
  description: Insights alarms
- name: Channels
  description: Notification channels and integrations
- name: Comments
  description: Comments on errors
- name: Dashboards
  description: Insights dashboards
- name: Deploys
  description: Deploy tracking
- name: Environments
  description: Per-environment project settings
- name: Insights
  description: Event querying with BadgerQL
- name: Tokens
  description: Introspection for the credential making the request
- name: Streams
  description: Insights event streams
paths:
  "/token":
    get:
      operationId: getToken
      summary: Describe the current credential
      description: |
        Reports what the credential making the request is and what it can reach.
        Requires no scope: a credential must always be able to discover its own limits, or a client holding a narrow token cannot tell a missing scope from a broken endpoint without a second round trip. A credential with no scopes at all still introspects successfully.
        `project_ids` is re-derived from the binding on every request, so a user token narrows the moment its owner loses access to a project rather than at its next rotation.
      tags:
      - Tokens
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      kind:
                        type: string
                        enum:
                        - user
                        - account
                        - oauth
                        description: "`user` and `account` are scoped API tokens.
                          `oauth` is an access token issued to an application acting
                          for a user.\n"
                      name:
                        type:
                        - string
                        - 'null'
                        description: 'The token''s name, or for an OAuth grant the
                          name of the application holding it.

                          '
                      scopes:
                        type: array
                        items:
                          type: string
                        description: 'Granular permissions. For an OAuth grant these
                          are its legacy `read`/`write` aliases expanded to the API
                          surface as it stood when the grant was consented to.

                          '
                        example:
                        - faults:read
                        - faults:write
                      account_id:
                        type: string
                        description: public_id of the account the credential is bound
                          to.
                      project_ids:
                        type: array
                        items:
                          type: string
                        description: 'public_ids of the projects the credential can
                          reach. Empty for a credential bound to an account with no
                          visible projects; every project in the account when unrestricted.

                          '
                      expires_at:
                        type:
                        - string
                        - 'null'
                        format: date-time
                      last_used_at:
                        type:
                        - string
                        - 'null'
                        format: date-time
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
        '401':
          "$ref": "#/components/responses/Unauthorized"
  "/accounts":
    get:
      operationId: listAccounts
      summary: List accounts
      description: Returns a list of accounts the authenticated user has access to.
      tags:
      - Accounts
      parameters:
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PerPage"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Account"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  links:
                    "$ref": "#/components/schemas/OffsetLinks"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
      security:
      - bearer_auth:
        - account:read
  "/accounts/{account_id}":
    get:
      operationId: getAccount
      summary: Get an account
      description: Returns a single account.
      tags:
      - Accounts
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Account"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - account:read
  "/accounts/{account_id}/usage":
    get:
      operationId: getAccountUsage
      summary: Get account usage
      description: Returns usage statistics for the account.
      tags:
      - Accounts
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - account:read
  "/accounts/{account_id}/members":
    get:
      operationId: listAccountMembers
      summary: List account members
      description: Returns a list of members for the account.
      tags:
      - Accounts
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PerPage"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/AccountMember"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  links:
                    "$ref": "#/components/schemas/OffsetLinks"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - team:read
  "/accounts/{account_id}/members/{member_id}":
    get:
      operationId: getAccountMember
      summary: Get an account member
      description: Returns a single account member.
      tags:
      - Accounts
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - name: member_id
        in: path
        required: true
        description: Member public ID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/AccountMember"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - team:read
    patch:
      operationId: updateAccountMember
      summary: Update an account member
      description: Updates a member's role or settings within the account.
      tags:
      - Accounts
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - name: member_id
        in: path
        required: true
        description: Member public ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AccountMemberInput"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/AccountMember"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/ValidationError"
      security:
      - bearer_auth:
        - team:write
    delete:
      operationId: deleteAccountMember
      summary: Remove an account member
      description: Removes a member from the account.
      tags:
      - Accounts
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - name: member_id
        in: path
        required: true
        description: Member public ID
        schema:
          type: string
      responses:
        '204':
          description: Member removed
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - team:write
  "/accounts/{account_id}/invitations":
    get:
      operationId: listAccountInvitations
      summary: List account invitations
      description: Returns a list of pending invitations for the account.
      tags:
      - Accounts
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PerPage"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/AccountInvitation"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  links:
                    "$ref": "#/components/schemas/OffsetLinks"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - team:read
    post:
      operationId: createAccountInvitation
      summary: Create an invitation
      description: Invites a user to the account.
      tags:
      - Accounts
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AccountInvitationInput"
      responses:
        '201':
          description: Invitation created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/AccountInvitation"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '422':
          "$ref": "#/components/responses/ValidationError"
      security:
      - bearer_auth:
        - team:write
  "/accounts/{account_id}/invitations/{invitation_id}":
    get:
      operationId: getAccountInvitation
      summary: Get an invitation
      description: Returns a single invitation.
      tags:
      - Accounts
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - name: invitation_id
        in: path
        required: true
        description: Invitation public ID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/AccountInvitation"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - team:read
    patch:
      operationId: updateAccountInvitation
      summary: Update an invitation
      description: Updates a pending invitation.
      tags:
      - Accounts
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - name: invitation_id
        in: path
        required: true
        description: Invitation public ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AccountInvitationInput"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/AccountInvitation"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/ValidationError"
      security:
      - bearer_auth:
        - team:write
    delete:
      operationId: deleteAccountInvitation
      summary: Delete an invitation
      description: Cancels a pending invitation.
      tags:
      - Accounts
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - name: invitation_id
        in: path
        required: true
        description: Invitation public ID
        schema:
          type: string
      responses:
        '204':
          description: Invitation deleted
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - team:write
  "/accounts/{account_id}/projects":
    get:
      operationId: listProjects
      summary: List projects
      description: Returns a list of projects for the account.
      tags:
      - Projects
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PerPage"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Project"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  links:
                    "$ref": "#/components/schemas/OffsetLinks"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - projects:read
    post:
      operationId: createProject
      summary: Create a project
      description: Creates a new project in the account.
      tags:
      - Projects
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ProjectInput"
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Project"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '422':
          "$ref": "#/components/responses/ValidationError"
      security:
      - bearer_auth:
        - projects:create
  "/accounts/{account_id}/projects/{project_id}":
    get:
      operationId: getProject
      summary: Get a project
      description: Returns a single project.
      tags:
      - Projects
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Project"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - projects:read
    patch:
      operationId: updateProject
      summary: Update a project
      description: Updates a project's settings.
      tags:
      - Projects
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ProjectInput"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Project"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/ValidationError"
      security:
      - bearer_auth:
        - projects:write
    delete:
      operationId: deleteProject
      summary: Delete a project
      description: Permanently deletes a project and all its data.
      tags:
      - Projects
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      responses:
        '204':
          description: Project deleted
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - projects:write
  "/accounts/{account_id}/projects/{project_id}/stats":
    get:
      operationId: getProjectStats
      summary: Get project stats
      description: Returns statistics for a project.
      tags:
      - Projects
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - projects:read
  "/accounts/{account_id}/projects/{project_id}/occurrences":
    get:
      operationId: getProjectOccurrences
      summary: Get bucketed notice counts for a project
      description: |
        Notice counts over a fixed window, bucketed by interval.

        The window is chosen with `period`, and each one implies its own interval. Both ends are inclusive, so a period returns one bucket more than its name suggests — `hour` returns 61 one-minute buckets, `month` 31 one-day buckets. Intervals with no notices are present with a count of zero, so the series is always the same length for a given period.
      tags:
      - Projects
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/OccurrencePeriod"
      - "$ref": "#/components/parameters/OccurrenceEnvironment"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/OccurrenceSeries"
                  meta:
                    "$ref": "#/components/schemas/OccurrenceMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
      security:
      - bearer_auth:
        - projects:read
  "/accounts/{account_id}/projects/occurrences":
    get:
      operationId: listAccountOccurrences
      summary: Get bucketed notice counts for every project on the account
      description: |
        The same series as the per-project form, one per project the caller can read, ordered by project name.

        v2's equivalent spanned every project the user could see across all of their accounts. There is no v3 shape for that, because every v3 path is account-scoped — call this once per account instead.

        Paginated, unlike v2's, because every project in the page costs its own rollup query and its own bucket array. Accounts have no project limit, so an unpaginated form would let one request run an unbounded number of queries.
      tags:
      - Projects
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/OccurrencePeriod"
      - "$ref": "#/components/parameters/OccurrenceEnvironment"
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PerPage"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/OccurrenceSeries"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  links:
                    "$ref": "#/components/schemas/OffsetLinks"
                  meta:
                    "$ref": "#/components/schemas/OccurrenceMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
      security:
      - bearer_auth:
        - projects:read
  "/accounts/{account_id}/projects/{project_id}/faults":
    get:
      operationId: listFaults
      summary: List faults
      description: Returns a list of faults for the project.
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PerPage"
      - name: q
        in: query
        description: 'Search query. Filtering by environment, resolved and ignored
          status is expressed here rather than as separate parameters — `environment:production`,
          `is:resolved`, `is:ignored`, and each negatable with a leading `-`. See
          the error search reference for the full filter list.

          '
        schema:
          type: string
      - "$ref": "#/components/parameters/FaultOrder"
      - "$ref": "#/components/parameters/FaultCreatedAfter"
      - "$ref": "#/components/parameters/FaultOccurredAfter"
      - "$ref": "#/components/parameters/FaultOccurredBefore"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Fault"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  links:
                    "$ref": "#/components/schemas/OffsetLinks"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:read
  "/accounts/{account_id}/projects/{project_id}/faults/{fault_id}":
    get:
      operationId: getFault
      summary: Get a fault
      description: Returns a single fault.
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Fault"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:read
    patch:
      operationId: updateFault
      summary: Update a fault
      description: Updates a fault's attributes.
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FaultInput"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Fault"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/ValidationError"
      security:
      - bearer_auth:
        - faults:write
    delete:
      operationId: deleteFault
      summary: Delete a fault
      description: Permanently deletes a fault and all its notices.
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      responses:
        '204':
          description: Fault deleted
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:write
  "/accounts/{account_id}/projects/{project_id}/faults/summary":
    get:
      operationId: getFaultSummary
      summary: Get fault counts by environment and state
      description: |
        Project-wide fault counts, grouped by environment and by resolved/ignored state.

        Accepts the same `q` search filter and time parameters as the fault list, so a caller can count the same set it would otherwise page through — which is the point, since the list cannot answer "how many, broken down how" without fetching every match.
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: q
        in: query
        description: Search filter, the same syntax the fault list accepts
        schema:
          type: string
      - "$ref": "#/components/parameters/CreatedAfter"
      - name: occurred_after
        in: query
        description: Only count faults that occurred after this Unix timestamp
        schema:
          type: number
          format: double
      - name: occurred_before
        in: query
        description: Only count faults that occurred before this Unix timestamp
        schema:
          type: number
          format: double
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - total
                    - environments
                    properties:
                      total:
                        type: integer
                        description: Total faults matching the filter
                        example: 142
                      environments:
                        type: array
                        description: 'One entry per distinct environment/resolved/ignored
                          combination present. Combinations with no faults are absent
                          rather than zero.

                          '
                        items:
                          type: object
                          required:
                          - environment
                          - resolved
                          - ignored
                          - count
                          properties:
                            environment:
                              type:
                              - string
                              - 'null'
                              description: Null for faults recorded with no environment
                              example: production
                            resolved:
                              type: boolean
                            ignored:
                              type: boolean
                            count:
                              type: integer
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
        '429':
          "$ref": "#/components/responses/RateLimitExceeded"
      security:
      - bearer_auth:
        - faults:read
  "/accounts/{account_id}/projects/{project_id}/faults/resolve":
    post:
      operationId: resolveFaults
      summary: Resolve faults
      description: 'Marks faults as resolved. Send fault_ids to choose them, or omit
        the body to resolve everything the filters match.

        '
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Selects the faults a bulk operation applies to
              properties:
                fault_ids:
                  type: array
                  description: 'Public IDs of the faults to change. Ids outside this
                    project select nothing. Omit to act on everything the query and
                    time filters match.

                    '
                  items:
                    type: string
                  example:
                  - Ab3kL9
                  - Zq7mN2
                q:
                  type: string
                  description: Search query, applied when fault_ids is omitted
                  example: is:unresolved
      responses:
        '200':
          description: Applied. No response body.
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:write
  "/accounts/{account_id}/projects/{project_id}/faults/unresolve":
    post:
      operationId: unresolveFaults
      summary: Unresolve faults
      description: 'Marks faults as unresolved. Send fault_ids to choose them, or
        omit the body to unresolve everything the filters match.

        '
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Selects the faults a bulk operation applies to
              properties:
                fault_ids:
                  type: array
                  description: 'Public IDs of the faults to change. Ids outside this
                    project select nothing. Omit to act on everything the query and
                    time filters match.

                    '
                  items:
                    type: string
                  example:
                  - Ab3kL9
                  - Zq7mN2
                q:
                  type: string
                  description: Search query, applied when fault_ids is omitted
                  example: is:unresolved
      responses:
        '200':
          description: Applied. No response body.
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:write
  "/accounts/{account_id}/projects/{project_id}/faults/ignore":
    post:
      operationId: ignoreFaults
      summary: Ignore faults
      description: 'Marks faults as ignored, stopping data collection for them. Send
        fault_ids to choose them, or omit the body to ignore everything the filters
        match.

        '
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Selects the faults a bulk operation applies to
              properties:
                fault_ids:
                  type: array
                  description: 'Public IDs of the faults to change. Ids outside this
                    project select nothing. Omit to act on everything the query and
                    time filters match.

                    '
                  items:
                    type: string
                  example:
                  - Ab3kL9
                  - Zq7mN2
                q:
                  type: string
                  description: Search query, applied when fault_ids is omitted
                  example: is:unresolved
      responses:
        '200':
          description: Applied. No response body.
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:write
  "/accounts/{account_id}/projects/{project_id}/faults/unignore":
    post:
      operationId: unignoreFaults
      summary: Unignore faults
      description: 'Removes the ignored status. Send fault_ids to choose the faults,
        or omit the body to unignore everything the filters match.

        '
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Selects the faults a bulk operation applies to
              properties:
                fault_ids:
                  type: array
                  description: 'Public IDs of the faults to change. Ids outside this
                    project select nothing. Omit to act on everything the query and
                    time filters match.

                    '
                  items:
                    type: string
                  example:
                  - Ab3kL9
                  - Zq7mN2
                q:
                  type: string
                  description: Search query, applied when fault_ids is omitted
                  example: is:unresolved
      responses:
        '200':
          description: Applied. No response body.
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:write
  "/accounts/{account_id}/projects/{project_id}/faults/{fault_id}/snooze":
    post:
      operationId: snoozeFault
      summary: Snooze a fault
      description: Snoozes notifications for a fault.
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Fault"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:write
    delete:
      operationId: unsnoozeFault
      summary: Unsnooze a fault
      description: Removes snooze from a fault.
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Fault"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:write
  "/accounts/{account_id}/projects/{project_id}/faults/{fault_id}/assign":
    post:
      operationId: assignFault
      summary: Assign a fault
      description: Assigns a fault to a user.
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FaultAssignmentInput"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Fault"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:write
    delete:
      operationId: unassignFault
      summary: Unassign a fault
      description: Removes the assignment from a fault.
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Fault"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:write
  "/accounts/{account_id}/projects/{project_id}/faults/{fault_id}/merge":
    post:
      operationId: mergeFaults
      summary: Merge a fault into another
      description: 'Merges the fault in the path into the one named by `target_fault_id`.
        The path fault is the source: its notices move to the target and it is removed.
        The merge runs in the background, so this answers 202 with a batch id rather
        than the merged fault.

        '
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Names the fault to merge into
              required:
              - target_fault_id
              properties:
                target_fault_id:
                  type: string
                  description: 'Public ID of the fault to keep. Must be in the same
                    project as the fault in the path, which is the one being merged
                    away.

                    '
                  example: Ab3kL9
      responses:
        '202':
          description: Merge accepted and queued
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    description: A queued merge
                    required:
                    - batch_id
                    - source_id
                    - target_id
                    properties:
                      batch_id:
                        type: string
                        description: Identifies the background merge
                        example: WksB67FpRY3bZQ
                      source_id:
                        type: string
                        description: Public ID of the fault merged away — the one
                          from the path
                        example: 2z4WtH9gARww
                      target_id:
                        type: string
                        description: Public ID of the fault kept
                        example: OmDSjxQSys5k
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:write
  "/accounts/{account_id}/projects/{project_id}/faults/{fault_id}/occurrences":
    get:
      operationId: listFaultOccurrences
      summary: Get fault occurrence timeline
      description: Returns occurrence counts over time for a fault.
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:read
  "/accounts/{account_id}/projects/{project_id}/faults/{fault_id}/affected_users":
    get:
      operationId: listFaultAffectedUsers
      summary: Get affected users
      description: Returns users affected by a fault.
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      - "$ref": "#/components/parameters/SearchFilter"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:read
  "/accounts/{account_id}/projects/{project_id}/faults/{fault_id}/pause_recording":
    post:
      operationId: pauseFaultRecording
      summary: Pause fault recording
      description: Pauses recording of new notices for a fault.
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Fault"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:write
  "/accounts/{account_id}/projects/{project_id}/faults/{fault_id}/resume_recording":
    post:
      operationId: resumeFaultRecording
      summary: Resume fault recording
      description: Resumes recording of new notices for a fault.
      tags:
      - Faults
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Fault"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:write
  "/accounts/{account_id}/projects/{project_id}/faults/{fault_id}/notices":
    get:
      operationId: listNotices
      summary: List notices
      description: Returns a list of notices for a fault.
      tags:
      - Notices
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      - "$ref": "#/components/parameters/Limit"
      - "$ref": "#/components/parameters/Before"
      - "$ref": "#/components/parameters/After"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Notice"
                  pagination:
                    "$ref": "#/components/schemas/TimeSeriesPagination"
                  links:
                    "$ref": "#/components/schemas/TimeSeriesLinks"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:read
  "/notices/{uuid}":
    get:
      operationId: getNotice
      summary: Get a notice
      description: Returns a single notice by its token UUID, without needing to know
        which project or fault it belongs to.
      tags:
      - Notices
      parameters:
      - name: uuid
        in: path
        required: true
        description: Notice token UUID
        schema:
          type: string
          format: uuid
          example: 1e2ba1f0-4f3c-4b1a-9c7e-6f2f5c0f1a3b
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Notice"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
      security:
      - bearer_auth:
        - faults:read
  "/accounts/{account_id}/projects/{project_id}/faults/{fault_id}/comments":
    get:
      operationId: listComments
      summary: List comments
      description: Returns a list of comments for a fault.
      tags:
      - Comments
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      - "$ref": "#/components/parameters/Limit"
      - "$ref": "#/components/parameters/Before"
      - "$ref": "#/components/parameters/After"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Comment"
                  pagination:
                    "$ref": "#/components/schemas/TimeSeriesPagination"
                  links:
                    "$ref": "#/components/schemas/TimeSeriesLinks"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:read
    post:
      operationId: createComment
      summary: Create a comment
      description: Adds a comment to a fault.
      tags:
      - Comments
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CommentInput"
      responses:
        '201':
          description: Comment created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Comment"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/ValidationError"
      security:
      - bearer_auth:
        - faults:write
  "/accounts/{account_id}/projects/{project_id}/faults/{fault_id}/comments/{comment_id}":
    get:
      operationId: getComment
      summary: Get a comment
      description: Returns a single comment.
      tags:
      - Comments
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      - name: comment_id
        in: path
        required: true
        description: Comment public ID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Comment"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:read
    patch:
      operationId: updateComment
      summary: Update a comment
      description: Updates a comment's body.
      tags:
      - Comments
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      - name: comment_id
        in: path
        required: true
        description: Comment public ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CommentInput"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Comment"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/ValidationError"
      security:
      - bearer_auth:
        - faults:write
    delete:
      operationId: deleteComment
      summary: Delete a comment
      description: Deletes a comment from a fault.
      tags:
      - Comments
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/FaultId"
      - name: comment_id
        in: path
        required: true
        description: Comment public ID
        schema:
          type: string
      responses:
        '204':
          description: Comment deleted
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - faults:write
  "/accounts/{account_id}/projects/{project_id}/sites":
    get:
      operationId: listSites
      summary: List sites
      description: Returns a list of uptime monitoring sites for the project.
      tags:
      - Sites
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PerPage"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Site"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  links:
                    "$ref": "#/components/schemas/OffsetLinks"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - uptime:read
    post:
      operationId: createSite
      summary: Create a site
      description: Creates a new uptime monitoring site.
      tags:
      - Sites
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SiteInput"
      responses:
        '201':
          description: Site created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Site"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '422':
          "$ref": "#/components/responses/ValidationError"
      security:
      - bearer_auth:
        - uptime:write
  "/accounts/{account_id}/projects/{project_id}/sites/{site_id}":
    get:
      operationId: getSite
      summary: Get a site
      description: Returns a single uptime monitoring site.
      tags:
      - Sites
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: site_id
        in: path
        required: true
        description: Site public ID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Site"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - uptime:read
    patch:
      operationId: updateSite
      summary: Update a site
      description: Updates an uptime monitoring site.
      tags:
      - Sites
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: site_id
        in: path
        required: true
        description: Site public ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SiteInput"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Site"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/ValidationError"
      security:
      - bearer_auth:
        - uptime:write
    delete:
      operationId: deleteSite
      summary: Delete a site
      description: Deletes an uptime monitoring site.
      tags:
      - Sites
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: site_id
        in: path
        required: true
        description: Site public ID
        schema:
          type: string
      responses:
        '204':
          description: Site deleted
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - uptime:write
  "/accounts/{account_id}/projects/{project_id}/sites/{site_id}/checks":
    get:
      operationId: listUptimeChecks
      summary: List uptime checks
      description: Returns a list of uptime check results for a site.
      tags:
      - Sites
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: site_id
        in: path
        required: true
        description: Site public ID
        schema:
          type: string
      - "$ref": "#/components/parameters/Limit"
      - "$ref": "#/components/parameters/CreatedAfter"
      - "$ref": "#/components/parameters/CreatedBefore"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/UptimeCheck"
                  pagination:
                    "$ref": "#/components/schemas/TimeSeriesPagination"
                  links:
                    "$ref": "#/components/schemas/TimeSeriesLinks"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - uptime:read
  "/accounts/{account_id}/projects/{project_id}/sites/{site_id}/outages":
    get:
      operationId: listOutages
      summary: List outages
      description: Returns a list of outages for a site.
      tags:
      - Sites
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: site_id
        in: path
        required: true
        description: Site public ID
        schema:
          type: string
      - "$ref": "#/components/parameters/Limit"
      - "$ref": "#/components/parameters/CreatedAfter"
      - "$ref": "#/components/parameters/CreatedBefore"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Outage"
                  pagination:
                    "$ref": "#/components/schemas/TimeSeriesPagination"
                  links:
                    "$ref": "#/components/schemas/TimeSeriesLinks"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - uptime:read
  "/accounts/{account_id}/projects/{project_id}/check_ins":
    get:
      operationId: listCheckIns
      summary: List check-ins
      description: Returns a list of check-ins for the project.
      tags:
      - Check-ins
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PerPage"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CheckIn"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  links:
                    "$ref": "#/components/schemas/OffsetLinks"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - checkins:read
    post:
      operationId: createCheckIn
      summary: Create a check-in
      description: Creates a new check-in monitor.
      tags:
      - Check-ins
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CheckInInput"
      responses:
        '201':
          description: Check-in created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/CheckIn"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '422':
          "$ref": "#/components/responses/ValidationError"
      security:
      - bearer_auth:
        - checkins:write
  "/accounts/{account_id}/projects/{project_id}/check_ins/bulk_update":
    put:
      operationId: bulkUpdateCheckIns
      summary: Replace the project's check-ins
      description: 'Sets the project''s check-ins to exactly what the payload lists.
        Entries are matched to existing check-ins by slug: a match is updated, a new
        slug is created, and any check-in the payload does not name is DELETED. The
        response reports the operation performed for each slug, including the deletions.

        '
      tags:
      - Check-ins
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CheckInBulkUpdateInput"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CheckIn"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/ValidationError"
      security:
      - bearer_auth:
        - checkins:write
  "/accounts/{account_id}/projects/{project_id}/check_ins/{check_in_id}":
    get:
      operationId: getCheckIn
      summary: Get a check-in
      description: Returns a single check-in.
      tags:
      - Check-ins
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: check_in_id
        in: path
        required: true
        description: Check-in public ID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/CheckIn"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - checkins:read
    patch:
      operationId: updateCheckIn
      summary: Update a check-in
      description: Updates a check-in's settings.
      tags:
      - Check-ins
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: check_in_id
        in: path
        required: true
        description: Check-in public ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CheckInInput"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/CheckIn"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/ValidationError"
      security:
      - bearer_auth:
        - checkins:write
    delete:
      operationId: deleteCheckIn
      summary: Delete a check-in
      description: Deletes a check-in monitor.
      tags:
      - Check-ins
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: check_in_id
        in: path
        required: true
        description: Check-in public ID
        schema:
          type: string
      responses:
        '204':
          description: Check-in deleted
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - checkins:write
  "/accounts/{account_id}/projects/{project_id}/check_ins/{check_in_id}/events":
    get:
      operationId: listCheckInEvents
      summary: List check-in events
      description: |
        Returns a check-in's events, newest first.

        Paging is one-directional: page one is always the newest events, so walk backwards with `links.older` and there is nothing to walk forward to. `has_newer` is therefore always false and `links.newer` always null. Events are stored in DynamoDB and paged on a raw timestamp rather than an opaque cursor, so `oldest_cursor` and `newest_cursor` are not returned.
      tags:
      - Check-ins
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: check_in_id
        in: path
        required: true
        description: Check-in public ID
        schema:
          type: string
      - "$ref": "#/components/parameters/Limit"
      - "$ref": "#/components/parameters/CreatedBefore"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CheckInEvent"
                  pagination:
                    "$ref": "#/components/schemas/TimeSeriesPagination"
                  links:
                    "$ref": "#/components/schemas/TimeSeriesLinks"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - checkins:read
  "/accounts/{account_id}/projects/{project_id}/deploys":
    get:
      operationId: listDeploys
      summary: List deploys
      description: Returns a list of deploys for the project.
      tags:
      - Deploys
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/Limit"
      - "$ref": "#/components/parameters/Before"
      - "$ref": "#/components/parameters/After"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Deploy"
                  pagination:
                    "$ref": "#/components/schemas/TimeSeriesPagination"
                  links:
                    "$ref": "#/components/schemas/TimeSeriesLinks"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - deploys:read
  "/accounts/{account_id}/projects/{project_id}/deploys/{deploy_id}":
    get:
      operationId: getDeploy
      summary: Get a deploy
      description: Returns a single deploy.
      tags:
      - Deploys
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: deploy_id
        in: path
        required: true
        description: Deploy public ID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Deploy"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - deploys:read
    delete:
      operationId: deleteDeploy
      summary: Delete a deploy
      description: Deletes a deploy record.
      tags:
      - Deploys
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: deploy_id
        in: path
        required: true
        description: Deploy public ID
        schema:
          type: string
      responses:
        '204':
          description: Deploy deleted
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - deploys:write
  "/accounts/{account_id}/projects/{project_id}/environments":
    get:
      operationId: listEnvironments
      summary: List environments
      description: Returns a list of environments for the project.
      tags:
      - Environments
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PerPage"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Environment"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  links:
                    "$ref": "#/components/schemas/OffsetLinks"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - projects:read
    post:
      operationId: createEnvironment
      summary: Create an environment
      description: Creates a new environment for the project.
      tags:
      - Environments
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/EnvironmentInput"
      responses:
        '201':
          description: Environment created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Environment"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '422':
          "$ref": "#/components/responses/ValidationError"
      security:
      - bearer_auth:
        - projects:write
  "/accounts/{account_id}/projects/{project_id}/environments/{environment_id}":
    get:
      operationId: getEnvironment
      summary: Get an environment
      description: Returns a single environment.
      tags:
      - Environments
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: environment_id
        in: path
        required: true
        description: Environment public ID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Environment"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - projects:read
    patch:
      operationId: updateEnvironment
      summary: Update an environment
      description: Updates an environment's settings.
      tags:
      - Environments
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: environment_id
        in: path
        required: true
        description: Environment public ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/EnvironmentInput"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Environment"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/ValidationError"
      security:
      - bearer_auth:
        - projects:write
    delete:
      operationId: deleteEnvironment
      summary: Delete an environment
      description: Deletes an environment.
      tags:
      - Environments
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: environment_id
        in: path
        required: true
        description: Environment public ID
        schema:
          type: string
      responses:
        '204':
          description: Environment deleted
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - projects:write
  "/accounts/{account_id}/projects/{project_id}/environments/bulk_update":
    patch:
      operationId: bulkUpdateEnvironments
      summary: Bulk update environments
      description: Updates notification settings for multiple environments at once.
      tags:
      - Environments
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                environment_ids:
                  type: array
                  items:
                    type: string
                  description: Public IDs of environments to update
                notifications:
                  type: object
                  description: Notification settings to apply
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    properties:
                      affected_count:
                        type: integer
                        description: Number of environments updated
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - projects:write
  "/accounts/{account_id}/projects/{project_id}/environments/bulk_destroy":
    delete:
      operationId: bulkDeleteEnvironments
      summary: Bulk delete environments
      description: Deletes multiple environments at once.
      tags:
      - Environments
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                environment_ids:
                  type: array
                  items:
                    type: string
                  description: Public IDs of environments to delete
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    properties:
                      destroyed_count:
                        type: integer
                        description: Number of environments deleted
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - projects:write
  "/accounts/{account_id}/projects/{project_id}/channels":
    get:
      operationId: listChannels
      summary: List channels
      description: Returns a list of notification channels for the project.
      tags:
      - Channels
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - "$ref": "#/components/parameters/Page"
      - "$ref": "#/components/parameters/PerPage"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Channel"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
                  links:
                    "$ref": "#/components/schemas/OffsetLinks"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - integrations:read
  "/accounts/{account_id}/projects/{project_id}/channels/{channel_id}":
    get:
      operationId: getChannel
      summary: Get a channel
      description: Returns a single notification channel.
      tags:
      - Channels
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: channel_id
        in: path
        required: true
        description: Channel public ID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Channel"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/AmbiguousAccount"
      security:
      - bearer_auth:
        - integrations:read
    patch:
      operationId: updateChannel
      summary: Update a channel
      description: Updates a notification channel's settings.
      tags:
      - Channels
      parameters:
      - "$ref": "#/components/parameters/AccountId"
      - "$ref": "#/components/parameters/ProjectId"
      - name: channel_id
        in: path
        required: true
        description: Channel public ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ChannelInput"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    "$ref": "#/components/schemas/Channel"
                  meta:
                    "$ref": "#/components/schemas/ResponseMeta"
        '401':
          "$ref": "#/components/responses/Unauthorized"
[...]
